<main class="edit">
  <div class="edit">
    <div class="container">
      <%= form_for @user do |f| %>
        <%= f.text_field :first_name, placeholder: "First name" %>
        <%= f.text_field :last_name, placeholder: "Last name" %>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.submit "Change", class: "btn-submit"%>
      <% end %>
    </div>
  </div>
</main>