<header class="profile-data">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.email %></p>
      </div>
      <div class="col-md-4 pull-right">
        <% if @user.id == session[:user_id] %>
          <%= link_to "Add photo", new_user_photo_path(user_id: session[:user_id]), class: "btn" %>
          <%= link_to "Edit profile", edit_user_path(id: session[:user_id]), class: "btn" %>
        <% end %>
        <%= link_to "Back", users_path, class: "btn" %>
      </div>
    </div>
  </div>
</header>

<main class="profile-photos">
  <div class="container">
  <h1>Photos</h1>
    <div class="photos">
      <%= render @user.photos %>
    </div>
  </div>
</main>
