<main class="edit">
  <div class="container">
    <div class="form">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_for [@user, @photo] do |f| %>
            <%= f.text_field :title, placeholder: "Title" %><br>
            <%= f.text_area :description, placeholder: "Description" %><br>
            <%= f.submit "Change", class: "btn-submit"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @photo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</main>